extends ../shared/template

block content
  table
    thead
      th Content
      th Reply
      th Delete
    tbody
      each message in messages
        tr
          td= message.message
          td
            a(href='/messages/new/#{message.fromId}') Reply
          td
            form(method='POST', action='/messages/#{message._id}')
              button X
