@main-color: #f26522;

body {
  margin: 0;
  padding: 0;
}

.clear {
  width: 100%;
  clear:both;
}

.hidden {
  display:none;
}

.profile-picture {
  width: 150px;
  height: 150px;
  background-size: cover;
}
