extends ../shared/template

block content
  h1 USER DASHBOARD

  #profileImage

  #profileHeader
    h1 Name
    h4 Email

    button.editProfile Edit Profile

  #ping

  #messages
    #messageCount New Messages:

  #topMatches
    h2 Top Matches

    button.showAllMatches Show All

  #myInfo
    h2 My Info
    h3 ipAddress
    h3 Seeking
    p Bio
    h3 languages
    h3 classification

block scripts
  script(src='/js/es6/compiled/dashboard.js')
